.grid-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: -100px;
  padding-top: 100px;
}

/* Maschera per lo sfumato superiore dello scroll */
.grid-container.with-mask {
  mask-image: linear-gradient(to bottom, transparent 100px, black 100px);
}

.grid-content {
  position: relative;
  width: 100%;
}

.grid-item {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
}
